APP_NAME=SedoPHP
APP_ENV=production
APP_DEBUG=false
APP_URL=http://localhost
APP_BASE_PATH=
APP_TIMEZONE=UTC

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=sedophp
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4
DB_SQLITE=storage/database.sqlite

SESSION_NAME=sedophp_session
SESSION_SECURE=false
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=Lax
SESSION_PATH=/

AUTH_TABLE=users
AUTH_ID=id
AUTH_IDENTITY=email
AUTH_PASSWORD=password
AUTH_LOGIN_PATH=/login
AUTH_API_TOKEN_TABLE=api_tokens

JWT_SECRET=
JWT_ISSUER=

CACHE_PATH=storage/cache
CACHE_PREFIX=sedo_
